.about,
.newsletter {
  position: relative;
  font-weight: 600;
}
.about {
  flex: 1;
}
.newsletter {
  display: inline-block;
  width: 207px;
  flex-shrink: 0;
}
.about-parent {
  position: absolute;
  width: 73.96%;
  top: 958px;
  right: 9.65%;
  left: 16.39%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-sm);
}
.recipe-app-terms {
  position: relative;
}
.recipe-app-terms-of-use-priv-wrapper {
  position: absolute;
  top: 975px;
  left: calc(50% - 161px);
  width: 299px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.ra-2-icon {
  position: absolute;
  width: 10.03%;
  top: 30px;
  right: 77.96%;
  left: 12.01%;
  max-width: 100%;
  overflow: hidden;
  height: 130px;
  object-fit: cover;
}
.signup {
  position: absolute;
  width: 6.71%;
  top: 107px;
  left: 23.06%;
  font-weight: 600;
  color: var(--color-orangered);
  text-align: left;
  display: inline-block;
}
.login {
  position: absolute;
  width: 6.71%;
  top: 107px;
  left: 30%;
  font-weight: 600;
  color: var(--color-orangered);
  text-align: left;
  display: inline-block;
}
.homepage-child {
  border: 1px solid var(--color-orangered);
  background-color: var(--color-white);
  position: absolute;
  width: 30.42%;
  top: 77px;
  right: 4.65%;
  left: 64.93%;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 49px;
}
.risearch-2-line-icon {
  position: absolute;
  width: 2.36%;
  top: 85px;
  right: 31.94%;
  left: 65.69%;
  max-width: 100%;
  overflow: hidden;
  height: 24px;
}
.search-by-countryrecipe-name-wrapper {
  position: absolute;
  width: 22.08%;
  top: 77px;
  right: 9.65%;
  left: 68.26%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}
.add-a-recipe,
.user-profile {
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 38px;
}
.add-a-recipe {
  flex: 1;
}
.user-profile {
  width: 108px;
  flex-shrink: 0;
}
.add-a-recipe-parent {
  position: absolute;
  width: 62.3%;
  top: 141px;
  right: 18.4%;
  left: 19.31%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: left;
  color: var(--color-orangered);
}
.discover-a-plethora {
  margin: 0;
}
.discover-a-plethora-container {
  position: absolute;
  top: 206px;
  left: calc(50% - 206px);
  font-size: var(--font-size-29xl);
  font-weight: 600;
  display: inline-block;
  width: 450px;
  height: 168px;
}
.the-number-1 {
  position: absolute;
  top: 327px;
  left: calc(50% - 188px);
  font-weight: 500;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 391px;
  height: 62px;
}
.frame-child {
  align-self: stretch;
  position: relative;
  background-color: var(--color-brown);
  width: 1194px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.homepage-inner,
.rectangle-wrapper {
  display: flex;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-wrapper {
  width: 1204px;
  height: 36px;
  flex-direction: row;
}
.homepage-inner {
  position: absolute;
  width: 83.68%;
  top: 989px;
  right: 9.1%;
  left: 7.22%;
  flex-direction: column;
}
.recipe-app-is-container {
  margin: 0;
  position: absolute;
  width: 44.24%;
  top: 779px;
  left: 28.4%;
  font-size: var(--font-size-mini);
  font-weight: 400;
  font-family: var(--font-roboto);
  white-space: pre-wrap;
  display: inline-block;
}
.create-a-free {
  text-decoration: underline;
  color: var(--color-royalblue);
}
.and-start-posting {
  color: var(--color-black);
}
.to-save-and-container {
  position: absolute;
  width: 33.19%;
  top: 873px;
  left: 33.54%;
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
  display: inline-block;
  height: 51px;
}
.frame-icon,
.homepage-child1,
.homepage-item {
  position: absolute;
  height: 25.78%;
  width: 27.5%;
  top: 46%;
  right: 65.28%;
  bottom: 28.22%;
  left: 7.22%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-icon,
.homepage-child1 {
  right: 4.65%;
  left: 67.85%;
}
.homepage-child1 {
  right: 33.82%;
  left: 38.68%;
}
.view-recipe {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.share-recipe-wrapper,
.view-recipe-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 0;
  background-color: var(--color-orangered);
  position: absolute;
  top: calc(50% - 21.5px);
  left: calc(50% + 12px);
  border-radius: var(--br-xl);
  width: 123px;
  height: 41px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.share-recipe-wrapper {
  top: calc(50% - 19.5px);
  left: calc(50% - 135px);
}
.frame-parent {
  position: absolute;
  top: calc(50% - 123px);
  left: calc(50% - 116px);
  width: 270px;
  height: 43px;
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
