.ra-2-icon {
  position: absolute;
  height: 70.27%;
  width: 11.25%;
  top: 0;
  right: 88.75%;
  bottom: 29.73%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.login {
  position: absolute;
  height: 21.62%;
  width: 10.75%;
  top: 42.16%;
  left: 12.86%;
  font-weight: 600;
  display: inline-block;
}
.signup {
  position: absolute;
  height: 21.62%;
  width: 10.75%;
  top: 42.16%;
  left: 25%;
  font-weight: 600;
  display: inline-block;
}
.frame-child {
  border: 1px solid var(--color-orangered);
  background-color: var(--color-gainsboro-100);
  position: absolute;
  height: 22.87%;
  width: 36.66%;
  top: 30.81%;
  right: 0.14%;
  bottom: 46.32%;
  left: 63.21%;
  border-radius: var(--br-mini);
  box-sizing: border-box;
}
.search-by-countryrecipe {
  position: absolute;
  height: 10.6%;
  width: 29.15%;
  top: 37.5%;
  left: 66.8%;
  color: var(--color-black);
  display: inline-block;
}
.risearch-2-line-icon {
  position: absolute;
  height: 13.38%;
  width: 2.93%;
  top: 35.83%;
  right: 33.5%;
  bottom: 50.79%;
  left: 63.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.add-a-recipe,
.featured-recipes,
.recipe-categories,
.trending-recipes,
.user-profile {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 128.4px;
  height: 38px;
  flex-shrink: 0;
}
.featured-recipes,
.recipe-categories,
.trending-recipes,
.user-profile {
  width: 177.11px;
}
.featured-recipes,
.recipe-categories,
.user-profile {
  width: 166.04px;
}
.recipe-categories,
.user-profile {
  width: 176px;
}
.user-profile {
  width: 129.51px;
}
.add-a-recipe-parent {
  position: absolute;
  top: 147px;
  left: 181px;
  width: 1056px;
  height: 38px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 69px;
}
.ra-2-parent {
  position: absolute;
  top: 56px;
  left: 50px;
  width: 1332px;
  height: 185px;
  font-size: var(--font-size-base);
  color: var(--color-orangered);
}
.dsh-1-icon {
  position: absolute;
  height: 25.9%;
  width: 31.46%;
  top: 11.48%;
  right: 7.08%;
  bottom: 62.62%;
  left: 51.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.discover-a-plethora {
  margin: 0;
}
.discover-a-plethora-container {
  position: absolute;
  height: 10.29%;
  width: 31.81%;
  top: 16.84%;
  left: 14.93%;
  font-size: var(--font-size-45xl);
  font-weight: 600;
  display: inline-block;
}
.share-recipe,
.the-number-1 {
  font-size: var(--font-size-xl);
  display: inline-block;
}
.the-number-1 {
  position: absolute;
  height: 2.49%;
  width: 32.31%;
  top: 27.13%;
  left: 13.26%;
  font-weight: 500;
  font-family: var(--font-roboto);
}
.share-recipe {
  position: relative;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  width: 142px;
}
.share-recipe-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 32px;
  background-color: var(--color-orangered);
  border-radius: var(--br-xl);
  width: 234px;
  height: 57px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
}
.view-recipe {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.view-recipe-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 0;
  background-color: var(--color-orangered);
  border-radius: var(--br-xl);
  width: 234px;
  height: 57px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.frame-parent,
.homepage-child {
  position: absolute;
  overflow: hidden;
}
.frame-parent {
  top: 737px;
  left: 175px;
  width: 483px;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.homepage-child {
  height: 28.58%;
  width: 88.06%;
  top: 45.22%;
  right: 5.97%;
  bottom: 26.2%;
  left: 5.97%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.homepage-item {
  position: absolute;
  top: 2472px;
  left: 4px;
  background-color: var(--color-brown);
  width: 1432px;
  height: 16px;
}
.recipe-app-terms {
  position: absolute;
  top: 2434px;
  left: 280px;
  text-align: center;
  display: inline-block;
  width: 902px;
  height: 38px;
}
.about-recipe-app,
.contact,
.newsletter {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 218px;
  height: 38px;
  flex-shrink: 0;
}
.contact,
.newsletter {
  width: 122px;
}
.newsletter {
  width: 164px;
}
.about-recipe-app-parent,
.homepage-inner {
  width: 944px;
  display: flex;
  align-items: center;
}
.about-recipe-app-parent {
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 4px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-87xl);
}
.homepage-inner {
  position: absolute;
  top: 2361px;
  left: 280px;
  flex-direction: column;
  justify-content: center;
}
.create-a-free {
  text-decoration: underline;
  color: var(--color-royalblue);
}
.and-start-posting {
  color: var(--color-black);
}
.to-save-and-container {
  position: relative;
  display: inline-block;
  width: 948px;
  height: 102px;
  flex-shrink: 0;
}
.recipe-app-is-container,
.to-save-and-share-content-cre-wrapper {
  position: absolute;
  font-size: var(--font-size-13xl);
  font-family: var(--font-roboto);
  text-align: center;
}
.to-save-and-share-content-cre-wrapper {
  top: 2183px;
  left: 252px;
  width: 948px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipe-app-is-container {
  margin: 0;
  height: 5.02%;
  width: 59.17%;
  top: 80.47%;
  left: 22.92%;
  font-weight: 400;
  white-space: pre-wrap;
  display: inline-block;
}
.vector-icon {
  position: absolute;
  height: 0.88%;
  width: 10.66%;
  top: 71.78%;
  right: 42.94%;
  bottom: 27.33%;
  left: 46.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 2488px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
