body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .logo-container {
    margin: 20px 0;
  }
  
  .logo {
    width: 150px;
    height: auto;
    padding-left: 110px;
  }
  
  h2 {
    text-align: center;
    padding-left: 140px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding-left: 150px;
  }
  
  input[type="password"] {
    width: 150%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
  }
  
  button[type="submit"] {
    display: block;
    width: 165%;
    padding: 10px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .about-group {
	display: flex;
	justify-content: center;
    margin-top: 50px;
	margin-bottom: 20px;
    padding-left: 7%;
  }
  
  .about1,
  .newsletter2 {
    margin: 0 5px; 
  }
  
  .contact3,
  .contact4,
  .contact5 {
	margin: 0;
  }

.recipe-app-terms-of-use-priv-container {
  text-align: center;
  margin-top: 20px;
}

.recipe-app-terms1 {
  color: #888;
  font-size: 14px;
  padding-left: 150px;
  display: flex;
}